.button {
    padding: var(--button-padding);
    border-radius: var(--button-rounded);
    background: var(--button-background);
    color: var(--button-foreground);
    transition: var(--button-transition);
}

.button:hover {
    background: var(--button-background--hover);
    color: var(--button-foreground--hover);
}

.button:focus-visible {
    background: var(--button-background--focus);
    color: var(--button-foreground--focus);
    outline: var(--button-outline--width) solid var(--button-outline-focus);
    outline-offset: var(--button-outline--offset);
}

.button:active {
    background: var(--button-background--active);
    color: var(--button-foreground--active);
}

.button:disabled {
    background: var(--button-background--disabled);
    color: var(--button-foreground--disabled);
}