*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

a {
    color: inherit;
    text-decoration: none;
}

:focus {
    outline: none;
}

ul, ol {
    padding: 0;
    list-style: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    padding: 0;
}
